@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Training Portal </h1>
    <p> The purpose of this application is to help new learners understand the fundamental building blocks of the MVC architecture, namely Controllers, Action Methods, Views, and Navigation</p>
</div>
