
@{
    ViewData["Title"] = "Software";
}
<span class="badge rounded-pill bg-primary">CRM Software</span>
<span class="badge rounded-pill bg-secondary">ERP System</span>
<span class="badge rounded-pill bg-success">HR Management Software</span>
<span class="badge rounded-pill bg-danger">Cyber Security Tool</span>
<span class="badge rounded-pill bg-warning text-dark">Inventory Management</span>
<span class="badge rounded-pill bg-info text-dark">Cloud Storage Platform</span>
<span class="badge rounded-pill bg-light text-dark">Accounting Software</span>
<span class="badge rounded-pill bg-dark">Project Management Tool</span>

