
@{
    ViewData["Title"] = "Consulting";
}

<div class="container mt-4">
    <div class="row">

        
        <div class="col-md-6">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1551434678-e076c223a692" class="card-img-top" alt="IT Consulting">
                <div class="card-body">
                    <h5 class="card-title">IT Consulting</h5>
                    <p class="card-text">Expert guidance to improve business technology infrastructure.</p>
                </div>
            </div>
        </div>

        
        <div class="col-md-6">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1552664730-d307ca884978" class="card-img-top" alt="Business Strategy">
                <div class="card-body">
                    <h5 class="card-title">Business Strategy</h5>
                    <p class="card-text">Helping companies build strong growth strategies.</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1504384308090-c894fdcc538d" class="card-img-top" alt="Digital Transformation">
                <div class="card-body">
                    <h5 class="card-title">Digital Transformation</h5>
                    <p class="card-text">Transforming businesses with modern digital solutions.</p>
                </div>
            </div>
        </div>

        
        <div class="col-md-6">
            <div class="card">
                <img src="https://images.unsplash.com/photo-1521737604893-d14cc237f11d" class="card-img-top" alt="HR Consulting">
                <div class="card-body">
                    <h5 class="card-title">HR Consulting</h5>
                    <p class="card-text">Improving workforce productivity and HR management.</p>
                </div>
            </div>
        </div>

    </div>
</div>

